Source: https://globalgoals.goldstandard.org/100-principles-and-requirements/

[](https://globalgoals.goldstandard.org/100-principles-and-requirements/ "Close Panel")
[ 0 ](https://globalgoals.goldstandard.org/my-bookmarks/ "Bookmarks")
  * [Standards](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [GS4GG](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Principles & Requirements](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Activity Requirements](https://globalgoals.goldstandard.org/200-activity-requirements/)
      * [Contextual Requirements](https://globalgoals.goldstandard.org/300-contextual-requirements/)
      * [Impact Quantification Methodologies](https://globalgoals.goldstandard.org/400-sdg-impact-quantification/)
      * [Product Requirements](https://globalgoals.goldstandard.org/500-product-requirements/)
      * [Governance](https://globalgoals.goldstandard.org/governance/)
      * [–All Documents–](https://globalgoals.goldstandard.org/all-documents/)
    * [Other documents](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Rule Updates](https://globalgoals.goldstandard.org/rule-updates/)
      * [Rule Clarifications](https://globalgoals.goldstandard.org/rule-clarifications/)
      * [Deviations](https://globalgoals.goldstandard.org/deviations/)
      * [Clarification Requests](https://globalgoals.goldstandard.org/clarification-requests/)
      * [Methodologies under Development](https://globalgoals.goldstandard.org/in-development/)
    * [Hubs and Tools](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Assurance Platform](https://globalgoals.goldstandard.org/assurance-platform-landing-page/)
      * [SDG Impact tool](https://globalgoals.goldstandard.org/sdg-impact-tools/)
      * [CORSIA Updates](https://globalgoals.goldstandard.org/corsia-updates/)
      * [Transition Projects Hub](https://globalgoals.goldstandard.org/transition-projects-hub/)
      * [Rice Sustainability Hub](https://globalgoals.goldstandard.org/rice-sustainability-hub/)
      * [Nature Activities Hub](https://globalgoals.goldstandard.org/nature-activities-hub/)
      * [Paris Agreement Alignment Documents](https://globalgoals.goldstandard.org/paris-agreement-alignment-documents/)
  * [PD Resources](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [Certify a Project](https://globalgoals.goldstandard.org/certify-a-project/)
    * [Validation and Verification Bodies](https://globalgoals.goldstandard.org/verification-validation-bodies/)
    * [Templates](https://globalgoals.goldstandard.org/templates/)
    * [Support Tools](https://globalgoals.goldstandard.org/support-tools/)
    * [Training and Support Resources](https://globalgoals.goldstandard.org/training-support-resources/)
    * [Terms and Conditions](https://globalgoals.goldstandard.org/terms-conditions/)
    * [Fee Schedule](https://globalgoals.goldstandard.org/fees/)
    * [Impact Registry](https://www.goldstandard.org/project-developers/impact-registry)
    * [Frequently asked questions](https://globalgoals.goldstandard.org/faqs-glossary/)
  * [VVB Resources](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [VVB documents](https://globalgoals.goldstandard.org/vvb-documents/)
    * [Become a VVB](https://globalgoals.goldstandard.org/become-a-vvb/)
    * [VVB Trainings and Exams](https://globalgoals.goldstandard.org/training-and-support-webinars-vvbs/)
    * [Fee schedule VVB](https://globalgoals.goldstandard.org/fee-schedule-vvb/)
    * [Validation and Verification Bodies](https://globalgoals.goldstandard.org/all-validation-and-verification-bodies/)
  * [Pilot Initiatives](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [PILOT Impact Portfolio Requirements](https://globalgoals.goldstandard.org/portfolio-requirements-registry/)
    * [PILOT Adaptation Requirements](https://globalgoals.goldstandard.org/pilot-adaptation-requirements/)
    * [PILOT Policy Requirements and Procedures](https://globalgoals.goldstandard.org/pilot-policy-requirements-and-procedures/)
    * [PILOT DMRV Programme](https://globalgoals.goldstandard.org/digital-measurement-reporting-verification-pilot-programme/)
    * [PILOT Tree and Ecosystem Monitoring Initiative (TEMI)](https://globalgoals.goldstandard.org/pilot-tree-and-ecosystem-monitoring-initiative-temi/)


[![](https://images.prismic.io/goldstandard/f7d0b1d0-7577-4f6e-ba43-0da0756cd8ba_Gold+Standard+Icon.svg?q=90&w=26&h=29) ](https://www.goldstandard.org)GOLD STANDARD FOR THE GLOBAL GOALS
[](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
[ ![Gold Standard for the Global Goals](https://globalgoals.goldstandard.org/standards/2020/04/Logo_GS4GG_Primary-01.png) ](https://globalgoals.goldstandard.org/)
[](https://globalgoals.goldstandard.org/100-principles-and-requirements/ "Search")
Search for:
[](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
[ ![Gold Standard for the Global Goals](https://globalgoals.goldstandard.org/standards/2020/04/Logo_GS4GG_Primary-01.png) ](https://globalgoals.goldstandard.org/)
[](https://globalgoals.goldstandard.org/100-principles-and-requirements/ "Search")
Search for:
[ ![Gold Standard for the Global Goals](https://globalgoals.goldstandard.org/standards/2020/04/Logo_GS4GG_Primary-01.png) ](https://globalgoals.goldstandard.org/ "Gold Standard for the Global Goals")
  * [Standards](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [GS4GG](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Principles & Requirements](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Activity Requirements](https://globalgoals.goldstandard.org/200-activity-requirements/)
      * [Contextual Requirements](https://globalgoals.goldstandard.org/300-contextual-requirements/)
      * [Impact Quantification Methodologies](https://globalgoals.goldstandard.org/400-sdg-impact-quantification/)
      * [Product Requirements](https://globalgoals.goldstandard.org/500-product-requirements/)
      * [Governance](https://globalgoals.goldstandard.org/governance/)
      * [–All Documents–](https://globalgoals.goldstandard.org/all-documents/)
    * [Other documents](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Rule Updates](https://globalgoals.goldstandard.org/rule-updates/)
      * [Rule Clarifications](https://globalgoals.goldstandard.org/rule-clarifications/)
      * [Deviations](https://globalgoals.goldstandard.org/deviations/)
      * [Clarification Requests](https://globalgoals.goldstandard.org/clarification-requests/)
      * [Methodologies under Development](https://globalgoals.goldstandard.org/in-development/)
    * [Hubs and Tools](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Assurance Platform](https://globalgoals.goldstandard.org/assurance-platform-landing-page/)
      * [SDG Impact tool](https://globalgoals.goldstandard.org/sdg-impact-tools/)
      * [CORSIA Updates](https://globalgoals.goldstandard.org/corsia-updates/)
      * [Transition Projects Hub](https://globalgoals.goldstandard.org/transition-projects-hub/)
      * [Rice Sustainability Hub](https://globalgoals.goldstandard.org/rice-sustainability-hub/)
      * [Nature Activities Hub](https://globalgoals.goldstandard.org/nature-activities-hub/)
      * [Paris Agreement Alignment Documents](https://globalgoals.goldstandard.org/paris-agreement-alignment-documents/)
  * [PD Resources](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [Certify a Project](https://globalgoals.goldstandard.org/certify-a-project/)
    * [Validation and Verification Bodies](https://globalgoals.goldstandard.org/verification-validation-bodies/)
    * [Templates](https://globalgoals.goldstandard.org/templates/)
    * [Support Tools](https://globalgoals.goldstandard.org/support-tools/)
    * [Training and Support Resources](https://globalgoals.goldstandard.org/training-support-resources/)
    * [Terms and Conditions](https://globalgoals.goldstandard.org/terms-conditions/)
    * [Fee Schedule](https://globalgoals.goldstandard.org/fees/)
    * [Impact Registry](https://www.goldstandard.org/project-developers/impact-registry)
    * [Frequently asked questions](https://globalgoals.goldstandard.org/faqs-glossary/)
  * [VVB Resources](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [VVB documents](https://globalgoals.goldstandard.org/vvb-documents/)
    * [Become a VVB](https://globalgoals.goldstandard.org/become-a-vvb/)
    * [VVB Trainings and Exams](https://globalgoals.goldstandard.org/training-and-support-webinars-vvbs/)
    * [Fee schedule VVB](https://globalgoals.goldstandard.org/fee-schedule-vvb/)
    * [Validation and Verification Bodies](https://globalgoals.goldstandard.org/all-validation-and-verification-bodies/)
  * [Pilot Initiatives](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [PILOT Impact Portfolio Requirements](https://globalgoals.goldstandard.org/portfolio-requirements-registry/)
    * [PILOT Adaptation Requirements](https://globalgoals.goldstandard.org/pilot-adaptation-requirements/)
    * [PILOT Policy Requirements and Procedures](https://globalgoals.goldstandard.org/pilot-policy-requirements-and-procedures/)
    * [PILOT DMRV Programme](https://globalgoals.goldstandard.org/digital-measurement-reporting-verification-pilot-programme/)
    * [PILOT Tree and Ecosystem Monitoring Initiative (TEMI)](https://globalgoals.goldstandard.org/pilot-tree-and-ecosystem-monitoring-initiative-temi/)


[ 0 ](https://globalgoals.goldstandard.org/my-bookmarks/ "Bookmarks") [](https://globalgoals.goldstandard.org/100-principles-and-requirements/ "Search")
Search for:
[ ![Gold Standard for the Global Goals](https://globalgoals.goldstandard.org/standards/2020/04/Logo_GS4GG_Primary-01.png) ](https://globalgoals.goldstandard.org/ "Gold Standard for the Global Goals")
  * [Standards](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [GS4GG](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Principles & Requirements](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Activity Requirements](https://globalgoals.goldstandard.org/200-activity-requirements/)
      * [Contextual Requirements](https://globalgoals.goldstandard.org/300-contextual-requirements/)
      * [Impact Quantification Methodologies](https://globalgoals.goldstandard.org/400-sdg-impact-quantification/)
      * [Product Requirements](https://globalgoals.goldstandard.org/500-product-requirements/)
      * [Governance](https://globalgoals.goldstandard.org/governance/)
      * [–All Documents–](https://globalgoals.goldstandard.org/all-documents/)
    * [Other documents](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Rule Updates](https://globalgoals.goldstandard.org/rule-updates/)
      * [Rule Clarifications](https://globalgoals.goldstandard.org/rule-clarifications/)
      * [Deviations](https://globalgoals.goldstandard.org/deviations/)
      * [Clarification Requests](https://globalgoals.goldstandard.org/clarification-requests/)
      * [Methodologies under Development](https://globalgoals.goldstandard.org/in-development/)
    * [Hubs and Tools](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
      * [Assurance Platform](https://globalgoals.goldstandard.org/assurance-platform-landing-page/)
      * [SDG Impact tool](https://globalgoals.goldstandard.org/sdg-impact-tools/)
      * [CORSIA Updates](https://globalgoals.goldstandard.org/corsia-updates/)
      * [Transition Projects Hub](https://globalgoals.goldstandard.org/transition-projects-hub/)
      * [Rice Sustainability Hub](https://globalgoals.goldstandard.org/rice-sustainability-hub/)
      * [Nature Activities Hub](https://globalgoals.goldstandard.org/nature-activities-hub/)
      * [Paris Agreement Alignment Documents](https://globalgoals.goldstandard.org/paris-agreement-alignment-documents/)
  * [PD Resources](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [Certify a Project](https://globalgoals.goldstandard.org/certify-a-project/)
    * [Validation and Verification Bodies](https://globalgoals.goldstandard.org/verification-validation-bodies/)
    * [Templates](https://globalgoals.goldstandard.org/templates/)
    * [Support Tools](https://globalgoals.goldstandard.org/support-tools/)
    * [Training and Support Resources](https://globalgoals.goldstandard.org/training-support-resources/)
    * [Terms and Conditions](https://globalgoals.goldstandard.org/terms-conditions/)
    * [Fee Schedule](https://globalgoals.goldstandard.org/fees/)
    * [Impact Registry](https://www.goldstandard.org/project-developers/impact-registry)
    * [Frequently asked questions](https://globalgoals.goldstandard.org/faqs-glossary/)
  * [VVB Resources](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [VVB documents](https://globalgoals.goldstandard.org/vvb-documents/)
    * [Become a VVB](https://globalgoals.goldstandard.org/become-a-vvb/)
    * [VVB Trainings and Exams](https://globalgoals.goldstandard.org/training-and-support-webinars-vvbs/)
    * [Fee schedule VVB](https://globalgoals.goldstandard.org/fee-schedule-vvb/)
    * [Validation and Verification Bodies](https://globalgoals.goldstandard.org/all-validation-and-verification-bodies/)
  * [Pilot Initiatives](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
    * [PILOT Impact Portfolio Requirements](https://globalgoals.goldstandard.org/portfolio-requirements-registry/)
    * [PILOT Adaptation Requirements](https://globalgoals.goldstandard.org/pilot-adaptation-requirements/)
    * [PILOT Policy Requirements and Procedures](https://globalgoals.goldstandard.org/pilot-policy-requirements-and-procedures/)
    * [PILOT DMRV Programme](https://globalgoals.goldstandard.org/digital-measurement-reporting-verification-pilot-programme/)
    * [PILOT Tree and Ecosystem Monitoring Initiative (TEMI)](https://globalgoals.goldstandard.org/pilot-tree-and-ecosystem-monitoring-initiative-temi/)


[ 0 ](https://globalgoals.goldstandard.org/my-bookmarks/ "Bookmarks") [](https://globalgoals.goldstandard.org/100-principles-and-requirements/ "Search")
Search for:
#  Principles and Requirements 
100 – Principles and Requirements These resources feature both mandatory requirements and guidelines that all projects must follow, as well as specific requirements that apply only to certain types of project design, such as microscale projects or Programmes of Activities.
**MANDATORY FOR ALL PROJECTS** : Any project seeking Gold Standard certification must reflect best practice requirements for safeguards, stakeholder inclusivity and sustainable development provisions.   
**APPLICABLE TO CERTAIN TYPES OF PROJECTS** : Depending on project scale or if a project is transitioning to Gold Standard for the Global Goals from an earlier version, additional requirements may apply. 
## MANDATORY FOR ALL PROJECTS
The starting point for all projects seeking Gold Standard certification of any kind. It provides the mandatory Principles & Requirements that all Gold Standard projects must conform to.
! Rule Update(s) applies |  ! Rule Clarification(s) applies  
---|---  
####  [Principles & Requirements](https://globalgoals.goldstandard.org/101-par-principles-requirements/ "Principles & Requirements")
[Core Documents](https://globalgoals.goldstandard.org/documents/core-documents/)
31.01.2025 [ v.2.1 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/101_V2.1_PAR_Principles-Requirements.pdf)
Requirements for conducting a mandatory stakeholder consultation and engaging stakeholders affected by a project on an ongoing basis. 
####  [Stakeholder Consultation and Engagement Requirements](https://globalgoals.goldstandard.org/102-par-stakeholder-consultation-requirements/ "Stakeholder Consultation and Engagement Requirements")
[Core Documents](https://globalgoals.goldstandard.org/documents/core-documents/)
14.06.2022 [ v.2.1 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/102_V2.1_PAR_Stakeholder-Consultation-Requirements.pdf)
A step-by-step guide to help project developers conduct stakeholder consultations in an effective and meaningful manner and presents guiding questions to audit and validate the stakeholder consultation process.
####  [Stakeholder consultation and engagement Guidelines](https://globalgoals.goldstandard.org/102g-par-stakeholder-consultation-requirements/ "Stakeholder consultation and engagement Guidelines")
[Guidelines](https://globalgoals.goldstandard.org/documents/guidelines/)
4.05.2022 [ v.2.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/102G_V2.0_PAR_Stakeholder-Consultation-and-engagement-Guidelines.pdf)
Safeguarding principles and associated requirements that all projects must assess and conform to throughout the certification process.
####  [Safeguarding Principles & Requirements](https://globalgoals.goldstandard.org/103-par-safeguarding-principles-requirements/ "Safeguarding Principles & Requirements")
[Core Documents](https://globalgoals.goldstandard.org/documents/core-documents/)
29.06.2023 [ v.2.1 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/103_V2.1_PAR_Safeguarding-Principles-Requirements.pdf)
Mandatory gender-sensitive procedures/strategies that all projects must conform to. Plus optional gender-responsive guidelines for those projects wishing to quantify and certify specific gender equality (SDG 5) impacts.
####  [Gender Equality Requirements & Guidelines](https://globalgoals.goldstandard.org/104-par-gender-equality-requirements-and-guidelines/ "Gender Equality Requirements & Guidelines")
[Core Documents](https://globalgoals.goldstandard.org/documents/core-documents/)
16.05.2023 [ v.2.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/104_V2.0_PAR_Gender-Equality-Requirements-Guidelines.pdf)
This document aims to establish the minimum requirements for selecting monitoring indicators. The objective is to ensure that the monitoring indicators selected in the SDG Impact Tool are contextually relevant to the project. 
####  [Requirements for selection of Monitoring Indicators in the SDG Impact Tool ](https://globalgoals.goldstandard.org/118_par_requirements-for-monitoring-indicator-selection/ "Requirements for selection of Monitoring Indicators in the SDG Impact Tool ")
[Core Documents](https://globalgoals.goldstandard.org/documents/core-documents/)
18.10.2025 [ v.1.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/118_V1.0_PAR_Requirements-for-Monitoring-Indicator-Selection.pdf)
This core standard operationalises the transition to the Paris Agreement era. It mandates that all carbon credits (GSVERs) with a vintage of 1 January 2026 and onwards must be quantified using PA-aligned methodologies. 
####  [Requirements for Paris Agreement Alignment](https://globalgoals.goldstandard.org/119_paa_pr_100-01-requirements-paris-agreement-alignment/ "Requirements for Paris Agreement Alignment")
[Core Documents](https://globalgoals.goldstandard.org/documents/core-documents/)
22.12.2025 [ v.1.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/119_V1.0_paa_pr_100-01-requirements-paris-agreement-alignment.pdf)
This document is a guidance for Paris Agreement Alignment 
####  [Guidance for Paris Agreement Alignment](https://globalgoals.goldstandard.org/119_paa_pr_100-g01-requirements-paris-agreement-alignment/ "Guidance for Paris Agreement Alignment")
[Guidelines](https://globalgoals.goldstandard.org/documents/guidelines/)
22.12.2025 [ v.1.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/119_V1.0_paa_pr_100-G01-requirements-paris-agreement-alignment.pdf)
## APPLICABLE TO CERTAIN TYPES OF PROJECTS
Guidelines to assist project developers, partners and funders in communicating accurately and credibly about the benefits derived from Gold Standard projects. 
####  [Claims Guidelines](https://globalgoals.goldstandard.org/105-par-claims-guidelines/ "Claims Guidelines")
[Core Documents](https://globalgoals.goldstandard.org/documents/core-documents/)
9.06.2022 [ v.2.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/105_V2.0_PAR_Claims-Guidelines.pdf)
Guidance for project developers, coordinating and managing entities (CMEs), and validation and verification bodies (VVBs) on extension of crediting period for land use, forestry and blue carbon activities. This document entails requirements to extend the crediting period defined at the time of design certification and the procedure to be followed for the same. Extension of crediting period shall be considered as a design change.
####  [Requirements and Procedures: Extension of crediting period of Land-use, Forestry and Blue Carbon activities](https://globalgoals.goldstandard.org/117_par_extension-of-crediting-period-luf/ "Requirements and Procedures: Extension of crediting period of Land-use, Forestry and Blue Carbon activities")
[Optional Requirements](https://globalgoals.goldstandard.org/documents/optional-requirements/)
19.09.2025 [ v.1.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/117_V1.0_PAR_Extension-of-crediting-period.pdf)
Requirements, timings and procedures to transition projects from previous version of Gold Standard to Gold Standard for the Global Goals (GS4GG). 
! Rule Clarification(s) applies  
---  
####  [Transition Requirements](https://globalgoals.goldstandard.org/106-par-transition-requirements/ "Transition Requirements")
[Optional Requirements](https://globalgoals.goldstandard.org/documents/optional-requirements/)
16.08.2021 [ v.2.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/106_V2.0_PAR_Transition-Requirements.pdf)
Requirements for designing and implementing a Programme of Activity (PoA) – an 'umbrella' certification under which multiple projects may be developed.
! Rule Clarification(s) applies  
---  
####  [Programme of Activity Requirements and Procedures](https://globalgoals.goldstandard.org/107-par-programme-of-activity-requirements/ "Programme of Activity Requirements and Procedures")
[Optional Requirements](https://globalgoals.goldstandard.org/documents/optional-requirements/)
12.11.2024 [ v.3.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/107_V3.0_PAR_Programme-of-Activity-Requirements.pdf)
Specific requirements for micro-scale projects – those projects with less than 10,000 tCO2e in annual emissions reductions.
! Rule Update(s) applies  
---  
####  [Microscale Project Requirements](https://globalgoals.goldstandard.org/108-par-microscale-project-requirements/ "Microscale Project Requirements")
[Optional Requirements](https://globalgoals.goldstandard.org/documents/optional-requirements/)
23.10.2019 [ v.1.2 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/108_V1.2_PAR_Microscale-Project-Requirements.pdf)
The key principles, guidelines and procedures to be followed for projects seeking deviation from the Gold Standard for the Global Goals (GS4GG) requirements and SDG Impact Quantification Methodologies and/or applicable methodologies.
####  [Deviations Request Requirements and Procedures](https://globalgoals.goldstandard.org/110-par-deviation-approval-procedure/ "Deviations Request Requirements and Procedures")
[Optional Requirements](https://globalgoals.goldstandard.org/documents/optional-requirements/)
12.11.2024 [ v.2.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/110_V2.0_PAR_Deviation-Approval-requirements-procedures.pdf)
This document provides the requirements and approval procedures for project developers/CMEs seeking permanent changes to the implementation, operation and/or monitoring of a certified project activity/PoA. This document was formally included as Annex-A (Design Change Approval Procedure) of the Gold Standard Principles and Requirements (version 1.2 published October 2019).
####  [Design Change Request Requirements and Procedures](https://globalgoals.goldstandard.org/111-par-design-change-requirements/ "Design Change Request Requirements and Procedures")
[Optional Requirements](https://globalgoals.goldstandard.org/documents/optional-requirements/)
12.11.2024 [ v.2.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/111_V2.0_PAR_Design-change-requirements.pdf)
The document provides the minimum requirements and procedures for Gold Standard Validation and Verification Bodies (GS VVBs) and Certification Bodies (CBs) to validate and verify standalone projects and Programmes of Activities (PoAs) that apply Gold Standard for the Global Goals and all earlier versions of the standard.
! Rule Update(s) applies  
---  
####  [Validation and Verification standard ](https://globalgoals.goldstandard.org/113-par-validation-and-verification-standard/ "Validation and Verification standard ")
[Core Documents](https://globalgoals.goldstandard.org/documents/core-documents/)
12.11.2024 [ v.2.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/113_V2.0_PAR_Validation-and-Verification-Standard.pdf)
Requirements for physical site visits and the requirements and procedures for conducting audits using remote audit techniques exclusively or in combination with physical site visits. Applicable to standalone projects of all scales.
####  [Site visit and remote audit requirements and procedures ](https://globalgoals.goldstandard.org/112_par_site-visit-and-remote-audit-requirements-and-procedures/ "Site visit and remote audit requirements and procedures ")
[Core Documents](https://globalgoals.goldstandard.org/documents/core-documents/)
30.05.2023 [ v.2.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/112_V2.0_PAR_Site-Visit-and-Remote-Audit-Requirements.pdf)
The Soil Organic Carbon (SOC) Model Guidelines provide a comprehensive methodological framework for quantifying SOC stock changes in agricultural soils through modelling. The guidelines allows application of SOC models by following a standardized procedure, applicable to a range of models, instead of prescribing a specific model. These guidelines are complementary to the SOC Framework Methodology (SOC FM), and are to be applied in conjunction with the same.
####  [Soil Organic Carbon Model requirements and Guidelines](https://globalgoals.goldstandard.org/402-7_soil-organic-carbon-model-requirements-and-guidelines/ "Soil Organic Carbon Model requirements and Guidelines")
[Guidelines](https://globalgoals.goldstandard.org/documents/guidelines/)[SDG 13](https://globalgoals.goldstandard.org/documents/sdg_13/)
8.09.2025 [ v.1.0 ![](https://globalgoals.goldstandard.org/standards/GS4GG-DOC.png)](https://globalgoals.goldstandard.org/standards/402.7_V1.0_Soil-Organic-Carbon-Model-requirements-and-Guidelines.pdf)
[![](https://globalgoals.goldstandard.org/standards/GS_Logo_Primary.png)](https://goldstandard.org) CONTACT: standards@goldstandard.org - © 2025 Gold Standard 
[](https://globalgoals.goldstandard.org/100-principles-and-requirements/)
